<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>表单输入绑定</title>
	<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
</head>
<body>

	<div id='example1'>
		<input type="text" v-model="message" placeholder="edit me">
		<p>Message is: {{ message }} </p>
	</div>

    <div id="example2">
    	<span>Multiline message is:</span>
		<p style="white-space: pre-line"> {{message}} </p>
	<br>
	<textarea name="" id="" cols="30" rows="10" v-model="message" placeholder="add multiple lines"></textarea>

    </div>

    <div id="example-3">
    	
    	<input type="checkbox" id="jack" value="Jack" v-model="checkedNames">
    	<label for="jack">Jack</label>

    	<input type="checkbox" id="john" value="John" v-model="checkedNames">
    	<label for="john">John</label>

    	<input type="checkbox" id="mike" value="Mike" v-model="checkedNames">
    	<label for="mike">Mike</label>

		<br>
		<span>checkd Names: {{ checkedNames }} </span>
    </div>

    <div id="example-4">
    	
		<select v-model="selected">
			
			<option  disabled value="">请选择</option>
			<option >A</option>
			<option >B</option>
			<option >C</option>

		</select>
		<span>Selected: {{ selected }} </span>

    </div>
	

	<script>
		
		var example = new Vue({
			el: '#example1',
			data: {
				message: ''
			}
		})


		var example2 = new Vue({
			el: '#example2',
			data: {
				message: ''
			}
		})

		// 多个复选框
		var example3 = new Vue({
			el: '#example-3',
			data: {
				checkedNames: []
			}
		})

		// 选择框
		var example4 = new Vue({
			el: '#example-4',
			data: {
				selected: ''
			}
		})

	</script>
	
</body>
</html>